.throughSample_1 {
  margin-bottom: 1px; }

.throughSample_2 {
  margin-bottom: 2px; }

.throughSample_3 {
  margin-bottom: 3px; }

.toSample_1 {
  margin-bottom: 1px; }

.toSample_2 {
  margin-bottom: 2px; }
