.body-top {
  background-image: url(../img/bg_top.png); }

.body-about {
  background-image: url(../img/bg_about.png); }

.body-company {
  background-image: url(../img/bg_company.png); }

.body-contact {
  background-image: url(../img/bg_contact.png); }
