$color: #333;

a.sample01:hover {
  // 変数 + rgb()関数
  color: $color + rgb(51,51,51);
  }
a.sample02:hover {
  // キーワード + 変数
  color: blue + $color;
  }
a.sample03:hover {
  // 変数 - 数値
  color: $color - 3;
  }
a.sample04:hover {
  // rgb() 関数 - 数値
  color: rbg(255,255,255) - 10;
  }